@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    min-width: 0;
}

input {
    color-scheme: dark;
}

.rdp-root {
    --rdp-accent-color: rgb(39 39 42);
    --rdp-accent-background-color: rgb(39 39 42); 
  }